.bitcoin-logo {
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto;
  color: #fff;
}

.bitcoin-header {
  background-image: linear-gradient(180deg, #66b2b2, #004c4c);
  height: 140px;
}

.bitcoin-title {
  font-weight: bold;
}

ion-content {
  --background: #006666;
}

ion-toolbar {
  --background: #66b2b2 !important;
}

ion-card {
  --background: #fff !important;
}
